- breadcrumb :student_payments
%table#payments.table.table-condensed
  %thead
    %tr
      %th= t('payments.columns.first_name')
      %th= t('payments.columns.last_name')
      %th= t('payments.columns.month')
      %th= t('payments.columns.payment_status')
      %th= t('payments.columns.amount')
      %th= t('payments.columns.date_of_payment')
  %tbody
    = render student_payments
